<div class="app-menu dark">
    <div class="header">
        <div class="holder">
            <span class="crumb">Infinium</span>
             <span class="crumb">&gt;</span>
            <span class="crumb active">Home</span>
        </div>
    </div>
    <ul>
        <li><a>New Tab</a></li>
        <li><a>New Secret Tab</a></li>
        <li class="seperator"></li>
        <li><a>History</a></li>
        <li><a>Bookmarks</a></li>
        <li><a>Print Page</a></li>
        <li><a>Downloads</a></li>
        <li><a>Settings</a></li>
        <li class="seperator"></li>
        <li><a>Quit Infinium</a></li>
    </ul>
</div>