<div id="{{id}}" class="tab">
	<div class="back-loading"></div>
	<div class="loading"></div>
	<div class="favicon"></div>
	<div class="content">
		<div class="shadow"></div>
		<div class="title"></div>
	</div>
	<div class="close">
		<div class="icon-iconfont-01"></div>
	</div>
</div>