<div class="strip light">
	<div class="drag-top"></div>
	<div class="bottom"></div>
	
	<div class="command menu">
		<div class="icon menu-icon">
			<span class="browsericon-cog"></span>
		</div>
	</div>
	
	<div class="command back disabled">
		<div class="icon">
			<span class="icon-iconfont-05"></span>
		</div>
	</div>
	
	<div class="command forward disabled">
		<div class="icon">
			<span class="icon-iconfont-06"></span>
		</div>
	</div>
	
	<div id="box">
		<div class="box light">
			<div class="ssl">
				<div class="icon"><span class="icon-iconfont-09"></span></div>
			</div>
			<div class="search">
				<div class="icon"><span class="icon-iconfont-08"></span></div>
			</div>
			<div class="input">
				<div class="shadow"></div>
				<div class="glass">
					<span class="host"></span>
					<span class="path"></span>
					<span class="hash"></span>
				</div>
				<form>
					<input />
				</form>
			</div>
		</div>
	</div>
	
	<div class="command new">
		<div class="icon">
			<span class="icon-iconfont-02"></span>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="tabs">
		</div>
	</div>
</div>