<div class="strip light">
	<div class="drag-top"></div>
	<div class="bottom"></div>
	
	<div class="command back disabled">
		<div class="icon">
			<span class="icon-iconfont-05"></span>
		</div>
	</div>
	<div class="command forward disabled">
		<div class="icon">
			<span class="icon-iconfont-06"></span>
		</div>
	</div>
	
	<div id="box">
		<div class="box light">
			<div class="ssl">
				<div class="icon"><span class="icon-iconfont-09"></span></div>
			</div>
			<div class="search">
				<div class="icon"><span class="icon-iconfont-08"></span></div>
			</div>
			<div class="input">
				<div class="shadow"></div>
				<div class="glass">
					<span class="host">www.youtube.com</span>
					<span class="path">/watch?v=dmU1ImuSbI</span>
					<span class="hash"></span>
				</div>
				<form>
					<input />
				</form>
			</div>
		</div>
	</div>
	
	<div class="command new">
		<div class="icon">
			<span class="icon-iconfont-02"></span>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="tabs">
			<div id="tab_1" class="tab" style="left: 170px;">
				<div class="back-loading"></div>
				<div class="loading" style="right: 0px; background-color: rgb(198, 18, 11);"></div>
				<div class="favicon" style="display: block; background-image: url(http://s.ytimg.com/yts/img/favicon_32-vflWoMFGx.png);"></div>
				<div class="content with-favicon">
					<div class="shadow"></div>
					<div class="title">Kidd Kidd - I'm a G (Bury Me A G) - YouTube</div>
				</div>
				<div class="close">
					<div class="icon-iconfont-01"></div>
				</div>
			</div>
			<div id="tab_2" class="tab active" style="left: 0px;">
				<div class="back-loading"></div>
				<div class="loading" style="right: 0px; background-color: rgb(198, 18, 11);"></div>
				<div class="favicon" style="display: block; background-image: url(http://s.ytimg.com/yts/img/favicon_32-vflWoMFGx.png);"></div>
				<div class="content with-favicon">
					<div class="shadow"></div>
					<div class="title">Kidd Kidd - I'm a G (Bury Me A G) - YouTube</div>
				</div>
				<div class="close">
					<div class="icon-iconfont-01"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="command update">
		<div class="fa-icon">
			<i class="fa fa-exclamation-circle"></i>
		</div>
	</div> -->
	
</div>