<div class="window-controls">
	<div class="cmd minimize">
		<span class="browsericon-minimize"></span>
	</div>
	<div class="cmd maximize">
		<span class="browsericon-maximize"></span>
	</div>
	<div class="cmd close">
		<span class="browsericon-close"></span>
	</div>
</div>